.site-header {
  background-color: $white;
  border-bottom: 1px solid #eeeeee;
  font-size: 12px;
  line-height: 1em;
  margin: 0;
  opacity: .9;
  padding: 13px 50px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;

  @include breakpoint(xsmall) {
    padding: 13px 30px;
  }

  a {
    color: $soft-black;
    &:hover {
      color: $brand-color;
      opacity: 1;
    }
  }

  .menu {
    display: inline-block;
    margin-top: 3px;

    @include breakpoint(xsmall) {
      display: block;
    }
  }

  .socials {
    display: inline-block;

    a {
      font-size: 16px;
      margin-right: 8px;
    }
  }
}

.site-name {
  letter-spacing: .1em;
  float: left;
  font-weight: 700;
  margin-top: 2px;
  text-transform: uppercase;
}

.site-initials {
  font-size: 20px;
  font-weight: 700;
  margin-right: 5px;
}

.site-navigation {
  float: right;

  @include breakpoint(xsmall) {
    display: none;
  }

  ul {
    list-style: none;
    margin: 0;

    li {
      float: left;
      margin: 2px 15px 0 0;
    }
  }
}

.mobile-toggle-menu {
  display: none;
  float: right;
  margin-top: 4px;
  font-size: 1.2em;
  text-align: right;

  ul {
    list-style-type: none;
    margin: 0;
    text-align: left;

    li {
      margin-top: 1.5em;
    }
  }

  @include breakpoint(xsmall) {
    display: block;
  }
}

.menu-toggle-button {
  cursor: pointer;
}

#menu-toggle {
  display: none; /* hide the checkbox */
}

#mobile-navigation {
  display: none;
}

#menu-toggle:checked + #mobile-navigation {
  display: block;
}
